
.moisite .mene_de_site .logo img {
    height: 62px;
}

.moisite .mene_de_site {
    background: #50a4a4;
    padding-top: 11px;
}

.moisite .mene_de_site .mene_nav ul li a {
    color: aliceblue;
    padding: 14px 7px;
    padding-bottom: 44px;
    font-size: 18px;
    font-family: auto;
}
.moisite .mene_de_site .lesruse {
    padding-top: 14px;
}
.moisite .mene_de_site .lesruse button {
    color: #50a4a4;
    background: white;
    border-radius: 23px;
    
    border: none;
    font-family: auto;
}

.moisite .mene_de_site .lesruse .icon img {
    width: 19px;
}
.bloc-1 .image img {
    width: 100%;
    max-height: 470px;
}
.bloc-1 {
   position: relative;
}
.bloc-1 .text {
    position: absolute;
    top: 150px;
    width: 50%;
    left: 25%;
    text-align: center;
}
.bloc-1 .text p {
    color: white;
    font-size: 16px;
    font-family: cursive;
}
.bloc-1 .text h3 {
    color: white;
    font-size: 29px;
    margin-top: -11px;
    font-weight: 600;
    margin-bottom: 45px;
}
.bloc-1 .text .iputText select {
    width: 99%;
    border: none;
    color: #757b82;
    padding: 4px 4px;
    border-radius: 7px;
}
.block-2 {
    position: relative;
}

.bloc-1 .text button {
    border: none;
    color: white;
    font-family: fangsong;
    font-size: 17px;
    background-color: #50a4a4;
    padding: 3px 17px;
    border-radius: 8px;
}
.bloc-1 .text .iputText input {
    width: 99%;
    border: none;
    color: #757b82;
    padding: 4px 4px;
    border-radius: 7px;
}
.block-2 .image img {
    width: 100%;
}

.block-2 .block-dd .text {
    background-color: white;
    padding: 35px 19px;
    color: #7a7e81;
    font-size: 17px;
    font-family: auto;
    border-radius: 20px;
}
.block-2 .block-dd h3 {
    text-align: center;
    color: white;
    font-size: 43px;
    margin-bottom: 30px;
}

.block-2 .block-dd {
    position: absolute;
    top: 74px;
    width: 60%;
    left: 20%;
}
.moisite .block-3 {
    margin-top: 158px;
    text-align: center;
}
.moisite .block-3 .itemm{
    position: relative;
}

.moisite .block-3 .itemm .text {
    background-color: #f3f3f3;
    margin-top: 20px;
    padding: 11px 8px;
    padding-top: 90px;
    border-radius: 27px;
}

.moisite .block-3 .itemm p {
    font-size: 13px;
    color: #8c8c8c;
    text-align: left;
    font-family: fangsong;
    line-height: 15px;
}
.moisite .block-3 .itemm .text a {
    color: #56b1b2;
    text-align: right;
    width: 99%;
    font-size: 16px;
    display: block;
    font-family: inherit;
    font-weight: 800;
}
.block-4 .bloc-top .text h3 {
    color: aliceblue;
    margin-top: 69px;
    font-size: 20px;
    font-weight: 800;

}
.block-5 .map img {
    width: 99%;
}
.block-4 .bloc-top img {
    width: 100%;
    max-height: 360px;
}
.block-4 span.link {
    position: absolute;
    top: 290px;
    left: 5%;
    color: white;
    font-size: 17px;
    font-family: auto;
    font-weight: 800;
    border-bottom: #56b1b2 solid 3px;
}

.block-4 .bloc-top .text p {
    color: white;
    font-size: 14px;
    font-weight: 400;
    width: 94%;
    padding-right: 8%;
    margin-top: 20px;
}
.block-5 .form h3 {
    color: #939393;
    font-size: 18px;
    font-weight: 700;
}
.block-5 .form input[type="text"] {
    width: 92%;
    margin-bottom: 9px;
    background-color: #f5f5f5;
    border: none;
    padding: 4px 9px;
    border-radius: 9px;
}.block-5 .form textarea {
    width: 92%;
    margin-bottom: 9px;
    background-color: #f5f5f5;
    border: none;
    padding: 4px 9px;
    border-radius: 9px;
}
.block-5 .form {
    background-color: white;
    margin: 1px 4%;
    padding: 24px;
    height: 99%;
    border-radius: 23px;
}
.block-4 .bloc-top {
    margin-top: 61px;
    background-color: #56b1b2;
}
.block-4{
    position: relative;
}

.block-5 {
    background-color: #f3f3f3;
    padding: 54px 0px;
}
.block-5 .form .bootton button {
    color: white;
    background-color: #56b1b2;
    border: none;
    border-radius: 9px;
    
    
     padding: 2px 14px;
}
.block-5 .form .bootton  {
    text-align: right;
}
.footer {
    background-color: #56b1b2;
    color: white;
    padding-bottom: 19px;
    padding-top: 15px;
}
.footer h3 {
    font-size: 15px;
    font-weight: 500;
    padding-top: 98px;
}
footer h4 {
    font-size: 15px;
    font-weight: 500;
    padding-top: 8px;
}

.footer p {
    font-size: 12px;
    font-weight: 400;
    padding-top: 5px;
    line-height: 1px;
}

.forme .bollck {
    background-color: #e4e4e4;
    padding: 32px 7%;
    height: 99%;
    margin-top: 31px;
    border-radius: 24px;
}
.forme .bollck .sleyeder img {
    width: 40%;
    position: absolute;
    left: 30%;
    top: 12px;
}
.forme .bollck .sleyeder {
    position: relative;
    padding-top: 86px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 53px;
}
.forme .bollck.formuse h3 {
    color: #50a4a4;
    font-family: emoji;
    font-size: 20px;
    text-align: center;
    margin-bottom: 24px;
}s
.forme .bollck .sleyeder img {
    width: 40%;
    position: absolute;
    left: 30%;
    top: 12px;
}
.forme .bollck.formuse input[type="text"] {
    width: 99%;
    margin-bottom: 15px;
    height: 33px;
    border: none;
    border-radius: 5px;
}
.forme .bollck.formuse select {
    width: 99%;
    margin-bottom: 15px;
    height: 33px;
    border: none;
    border-radius: 5px;
}
.forme .bollck.formuse textarea {
    width: 99%;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.forme .bollck.formuse .botton {
    text-align: right;
}
.forme .bollck .sleyeder .text {
    background-color: white;
    color: #596269;
    font-family: emoji;
    font-size: 16px;
    padding: 32px 5%;
    padding-top: 67px;
    line-height: 18px;
    border-radius: 17px;
}
.forme .bollck.formuse .botton button {
    color: aliceblue;
    background-color: #50a4a4;
    border: none;
    font-family: emoji;
    padding: 1px 19px;
    border-radius: 18px;
}
.forme .bollck  button{
    color: aliceblue;
    background-color: #50a4a4;
    border: none;
    font-family: emoji;
    padding: 1px 19px;
    border-radius: 18px;   
}
.bloc-1 .text.blockc {
    position: absolute;
    top: 160px;
    width: 36%;
    left: 35%;
    text-align: center;
    background-color: white;
    padding: 32px 17px;
}
.bloc-1 .text.blockc h3 {
    color: #50a4a4;
    font-size: 29px;
    margin-top: -8px;
    font-weight: 600;
    margin-bottom: 45px;
    font-family: auto;
}
.bloc-1 .text.blockc .inptyexrtr input {
    background: #f2f2f2;
    border: none;
    margin-bottom: 9px;
    border-radius: 9px;
    width: 71%;
}
.bloc-1 .text.blockc p {
    color: #50a4a4;
    font-size: 14px;
    font-family: fangsong;
}
.bloc-1 .text.blockc {
    position: absolute;
    top: 160px;
    width: 36%;
    left: 35%;
    text-align: center;
    background-color: white;
    padding: 32px 17px;
    border-radius: 26px;
}

.moisite .block-3 .itemm img {
    position: absolute;
    width: 38%;
    left: 26%;
    top: -84px;
}
.blcoitemseleder {
    height: 330px;
    padding: 1px 10% ;
    padding-top: 82px;
}
.pageservise {
    min-height: 602px;
}
.crait .forme {
    padding: 1px 26%;
}
.creat___user {
    min-height: 561px;
}